In [48]:
import pandas as pd

In [116]:
def replace_space_with_underline(name):
    new_name = name.replace(' ', '_')
    return new_name

In [49]:
bookings = pd.read_csv('2_bookings.csv', sep=';')

In [50]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [51]:
bookings_head = bookings[:7]

In [52]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [53]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [95]:
bookings = bookings.rename(columns=str.lower)

In [96]:
bookings

,hotel,is canceled,lead time,arrival full date,arrival date year,arrival date month,arrival date week number,arrival date day of month,stays in weekend nights,stays in week nights,...,adults,children,babies,meal,country,reserved room type,assigned room type,customer type,reservation status,reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [122]:
bookings = bookings.rename(columns=replace_space_with_underline)

In [124]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [264]:
not_canceled = bookings.query('is_canceled < 1')

In [265]:
not_canceled.value_counts('country')

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MRT        1
MMR        1
MLI        1
MDG        1
PLW        1
Length: 165, dtype: int64

In [248]:
city_hotel = bookings.groupby('hotel', as_index=False).agg({'stays_total_nights': 'mean'}).round(2)
city_hotel

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [241]:
redact = bookings.query('reserved_room_type != assigned_room_type ')

In [242]:
redact

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [257]:
bookings.query('arrival_date_year == 2016').value_counts('arrival_date_month')

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

In [258]:
bookings.query('arrival_date_year == 2017').value_counts('arrival_date_month')

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
dtype: int64

In [285]:
is_canceled = bookings.query('is_canceled == 1')

In [286]:
is_canceled

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-11
32,Resort Hotel,1,96,2015-07-01,2015,July,27,1,2,8,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017-04-25,2017,April,17,25,0,0,...,0,0.0,0,BB,FRA,D,K,Transient,Canceled,2017-04-25
111355,City Hotel,1,4,2017-06-05,2017,June,23,5,1,0,...,1,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-06-05
111924,City Hotel,1,7,2017-05-31,2017,May,22,31,0,1,...,1,0.0,0,BB,PRT,A,A,Transient,Canceled,2017-05-31
111925,City Hotel,1,6,2017-07-17,2017,July,29,17,1,0,...,1,0.0,0,BB,PRT,A,D,Transient,No-Show,2017-07-17
117295,City Hotel,1,0,2017-08-02,2017,August,31,2,0,2,...,1,0.0,0,BB,PRT,A,C,Transient,No-Show,2017-08-02

In [298]:
city_hotel_canceled = is_canceled.groupby(['hotel', 'arrival_date_year', 'arrival_date_month'], as_index=False)  \
                                 .agg({'stays_total_nights': 'count'})  \
                                 .sort_values(['stays_total_nights'], ascending=False)

In [299]:
city_hotel_canceled

           hotel  arrival_date_year arrival_date_month  stays_total_nights
25    City Hotel               2017                May                2217
16    City Hotel               2016            October                1947
18    City Hotel               2017              April                1926
23    City Hotel               2017               June                1808
12    City Hotel               2016               June                1720
17    City Hotel               2016          September                1567
5     City Hotel               2015          September                1543
6     City Hotel               2016              April                1539
14    City Hotel               2016                May                1436
15    City Hotel               2016           November                1360
22    City Hotel               2017               July                1324
4     City Hotel               2015            October                1321
24    City Hotel               2017              March                1278
7     City Hotel               2016             August                1247
0     City Hotel               2015             August                1232
19    City Hotel               2017             August                1123
13    City Hotel               2016              March                1108
8     City Hotel               2016           December                1072
21    City Hotel               2017            January                1044
11    City Hotel               2016               July                1043
20    City Hotel               2017           February                 971
2     City Hotel               2015               July                 939
9     City Hotel               2016           February                 930
45  Resort Hotel               2017             August                 693
1     City Hotel               2015           December                 668
48  Resort Hotel               2017               July                 660
49  Resort Hotel               2017               June                 631
33  Resort Hotel               2016             August                 578
42  Resort Hotel               2016            October                 567
31  Resort Hotel               2015          September                 551
51  Resort Hotel               2017                May                 545
44  Resort Hotel               2017              April                 537
32  Resort Hotel               2016              April                 522
40  Resort Hotel               2016                May                 479
37  Resort Hotel               2016               July                 456
43  Resort Hotel               2016          September                 455
10    City Hotel               2016            January                 438
30  Resort Hotel               2015            October                 411
35  Resort Hotel               2016           February                 407
50  Resort Hotel               2017              March                 394
46  Resort Hotel               2017           February                 388
38  Resort Hotel               2016               June                 376
39  Resort Hotel               2016              March                 369
26  Resort Hotel               2015             August                 366
34  Resort Hotel               2016           December                 326
28  Resort Hotel               2015               July                 320
27  Resort Hotel               2015           December                 305
3     City Hotel               2015           November                 301
41  Resort Hotel               2016           November                 276
47  Resort Hotel               2017            January                 206
29  Resort Hotel               2015           November                 185
36  Resort Hotel               2016            January                 119

In [319]:
clients = bookings[['adults', 'children', 'babies']]

In [323]:
clients.mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [337]:
bookings['total_kids'] = bookings.children + bookings.babies

In [338]:
bookings['total_kids']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: total_kids, Length: 119390, dtype: float64

In [342]:
total_kids = bookings.groupby('hotel', as_index=False)  \
                     .agg({'total_kids': 'mean'})  \
                     .round(2)

In [343]:
total_kids

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

In [421]:
bookings['has_kids'] = bookings.total_kids != 0

In [422]:
has_kids = bookings.query('has_kids == True')

In [423]:
has_kids_canceled = bookings.query('has_kids == True and is_canceled == 1')

In [424]:
hasnt_kids = bookings.query('has_kids == False')

In [425]:
hasnt_kids_canceled = bookings.query('has_kids == False and is_canceled == 1')

In [426]:
churn_rate_hk = has_kids_canceled.shape[0] / has_kids.shape[0]
round(churn_rate_hk, (4))

0.3495

In [427]:
churn_rate_dhk = hasnt_kids_canceled.shape[0] / hasnt_kids.shape[0]
round(churn_rate_dhk, (4))

0.3722